@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    min-height: 120vh;
    background-color: #ffffff;
    display: flex;
}

.pendingRequests {
    width: 100%;
    padding: 4rem 5%;
    box-sizing: border-box; 
}


.pendingRequests h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 6rem;
}

.inputs label {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 9rem;
    border-right: none;
    height: 5rem;
    cursor: text;
}

.inputs button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 9rem;
    gap: 1rem;
    padding: 0 2rem;
    border: 1px solid #e0e0e0;
    height: 5rem;
    color: #e0e0e0;
}

.label input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 2rem;
}

.label input:focus { 
    border: none;
    outline: 0;
}

.inputs button:hover {
    cursor: pointer;
}

.requests {
    margin: 2rem 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    margin-bottom: 4rem;
    position: relative;
}

.id {
    position: absolute;
    left: 0%;
}

.solicitacao {
    position: absolute;
    left: 8%;
}

.setor {
    position: absolute;
    left: 50%;
}

.data {
    position: absolute;
    left: 65%;
}

.solicitante {
    position: absolute;
    left: 80%;
}

@media (max-width: 1241px) {
    .id {
        display: none;
    }

    .data {
        display: none;
    }

    .solicitacao {
        left: 0%;
    }

    .setor {
        left: 65%;
    }

    .solicitante {
        left: 85%;
    }
} 

@media ( max-width: 1040px) {
    .solicitante {
        left: 80%;
    }
}


@media (max-width: 950px) {
    .header {
        font-size: 1.5rem;
    }

    .setor {
        left: 60%;
    }
}

@media (max-width: 620px) {
    .container {
        display: block;
    }

    .inputs {
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media (max-width: 450px) {
    .label input::placeholder {
        font-size: 1.5rem;
    }
}