@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    height: 6rem;
    flex-wrap: wrap;
    position: relative;
}

.id {
    position: absolute;
    left: 0%;
}

.solicitacao {
    max-width: 35rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 8%;
}

.setor {
    min-width: 5rem;
    background-color: #002740;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 50%;
}

.data {
    position: absolute;
    left: 65%;
}

.img {
    position: absolute;
    left: 81%;
    height: 5rem;
    border-radius: 50%;
}

.mais {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 0%;
}


@media (max-width: 1241px) {
    .id {
        display: none;
    }

    .data {
        display: none;
    }

    .solicitacao {
        left: 0%;
    }

    .setor {
        left: 65%;
    }

    .img {
        left: 87%;
    }

    .mais {
        display: none;
    }
} 

@media ( max-width: 1040px) {
    .img {
        left: 83%;
    }
}

@media (max-width: 950px) {

    .container {
        font-size: 1.5rem;
    }

    .solicitacao {
        max-width: 25rem;
    }

    .setor {
        left: 60%;
    }
}

@media (max-width: 625px) {
    .solicitacao {
        max-width: 22rem;
    }
}

@media (max-width: 530px) {
    .solicitacao {
        max-width: 20rem;
    }
}

@media (max-width: 450px) {
    .setor {
        min-width: 2.5rem;
        font-size: 1rem;
    }

    .img {
        height: 2.5rem;
        left: 85%;
    }

    .solicitacao {
        max-width: 15rem;
    }
}