@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    height: 6rem;
    padding: 0 2rem;
    flex-wrap: wrap; /* Permite que os itens quebrem para uma nova linha se necessário */
}

.id {
    flex: 0 1 10%; /* Flexível, mas com base mínima de 10% */
    min-width: 5rem; /* Define um mínimo para garantir que caiba em telas pequenas */
}

.solicitacao {
    flex: 1 1 40%; /* Flexível e com base mínima de 40% */
    max-width: 35rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setor {
    flex: 0 1 15%;
    min-width: 10rem;
    background-color: #002740;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.data {
    flex: 0 1 15%;
    min-width: 10rem;
    text-align: right;
}

.img {
    flex: 0 0 5rem; /* Define a largura fixa da imagem */
    height: 5rem; /* Define a altura fixa da imagem */
    border-radius: 50%;
}

.mais {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3rem; /* Define largura fixa para os três pontos */
    height: 3rem; /* Define altura fixa para os três pontos */
}

