@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

.container {
    height: 120vh;
    background-color: #ffffff;
    display: flex;
    width: 100%;
}

.documents {
    /* border: 1px solid black; */
    padding: 4rem 13rem;
    width: 110rem;
}

.documents h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
}

.documents label {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 9rem 0 0 9rem;
    border-right: none;
    height: 5rem;
    margin-top: 6rem;
    cursor: text;
}

.label input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 2rem;
}

.label input:focus { 
    border: none;
    outline: 0;
}

.documents table {
    /* border: 1px solid black; */
    width: 100%;
}

.line {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    margin: 6rem 0 0 2rem;
    height: 6rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}

.line .lineId {
    position: absolute;
    left: 23.8%;
}

.line .lineName {
    position: absolute;
    left: 29%;
}

.line .linePerms {
    position: absolute;
    left: 45.8%;
}

.line .lineResponsible {
    position: absolute;
    left: 59%;
}

.selectedDocument {
    width: 25%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #e0e0e0;
}

.selectedDocument h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    color: #000000;
    margin: 7rem 0 15rem 0;
}

.selectedDocument p {
    width: 25rem;
    height: 4rem;
    border: none;
    border-radius: 5rem;
    background-color: #a3b5be;
    color: #ffffff;
    text-align: center;
    padding-left: 1.6rem;
    gap: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 11rem;
}

.selectedDocument .iconX {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    background-color: #6c8897;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

@media (max-width: 1440px) {
    .selectedDocument {
        text-align: center;
    }
}

@media (max-width: 1360px) {
    .documents {
        max-width: 50rem;
    }
}