@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

.container {
    min-height: 120vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section {
    padding: 4rem 8rem;
    width: 100%;
    display: flex;
}

.documents {
    width: 70%;
}

.documents h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
}

.documents label {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 9rem 0 0 9rem;
    border-right: none;
    height: 5rem;
    margin-top: 6rem;
    cursor: text;
}

.label input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 2rem;
}

.label input:focus { 
    border: none;
    outline: 0;
}

.documents table {
    width: 100%;
}

.line {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6rem;
    height: 6rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    position: relative;
}

.line .lineId {
    position: absolute;
    left: 0%;
}

.line .lineName {
    position: absolute;
    left: 20%;
}

.line .linePerms {
    position: absolute;
    left: 53%;
}

.line .lineResponsible {
    position: absolute;
    left: 80%;
}

.selectedDocument {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.selectedDocument h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    color: #000000;
    margin: 7rem 0 15rem 0;
}

.selectedDocument p {
    width: 25rem;
    height: 4rem;
    border: none;
    border-radius: 5rem;
    background-color: #a3b5be;
    color: #ffffff;
    text-align: center;
    padding-left: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 8rem;
}

.selectedDocument .iconX {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    background-color: #6c8897;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

@media (max-width: 1360px) {
    .documents {
        width: 100%;
    }

    .documents label {
        border-right: 1px solid #e0e0e0;
        border-radius: 9rem;
    }

    .section {
        flex-direction: column;
    }

    .selectedDocument {
        border-left: none;
        border-top: 1px solid #e0e0e0;
        width: 100%;
        margin-top: 2rem;
    }

    .selectedDocument h1 {
        margin: 7rem 0 8rem 0;
    }
} 

@media (max-width: 1120px) {
    .lineId {
        display: none;
    }

    .linePerms {
        display: none;
    }

    .line .lineName {
        position: static;
    }

    .line .lineResponsible {
        position: static;
    }

    .line {
        display: flex;
        justify-content: space-between;
    }

}

@media (max-width: 520px) {
    .label input {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .line {
        font-size: 1.5rem;
    }

    label {
        padding: 0;
    }

    .label input {
        font-size: 1rem;
    }

    .bsSearch {
        display: none;
    }
}